.box{
    border: 5px solid greenyellow;
    background-color: pink;
}
.r1{
    background-color: brown;
}
.r1c1{
    height: 200px;
    width: 100px;
    background-color: green;
}
.r1c2{
    background-color: antiquewhite;
    height: 200px;
    width: 100px;
}
.r2{
    background-color: brown;
}
.r2c1{
    background-color: aqua;
    height: 200px;
    width: 100px;
}
.r2c2{
    background-color: aquamarine;
    height: 200px;
    width: 100px;
}
.r3{
    background-color: brown;
}
.r3c1{
    background-color: beige;
    height: 200px;
    width: 100px;
}
.r3c2{
    background-color: bisque;
    height: 200px;
    width: 100px;
}
